.TodoList {
    width: 35rem;
    background-color: rgba(255, 255, 255, .8);
    padding: 1rem 0 2rem 0;
    border-radius: 10px;
}

.TodoList-header {
    padding: .5rem 0;
    margin: .5rem 2rem 1rem 2rem;
    border-bottom: 1px solid gray;
}

.TodoList div h2 {
    font-size: 3rem;
    padding: 0;
    margin: .5rem 0 .5rem 0 !important;
}

.TodoList-body {
    padding: 0;
    margin: 0;
    list-style: none;
}