.Todo {
    margin: 0 2rem;
    padding: .5rem 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    font-size: 1.2rem;
    font-weight: 400;
}

.Todo div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.completed {
    color: gray;
    text-decoration: line-through;
    transition: color ease-out 1s;
}

.Todo li {
    width: 26rem;
}

.Todo div button {
    background: none;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 0 0 0 10px;
    padding: 8px 10px;
}

.Todo form div {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.Todo form div input {
    padding: 10px 15px;
    font-size: 1.2rem;
    border-radius: 5px;
    border: 1px solid gray;
    background: none;

    width: 23rem;
}

.Todo form div input:focus {
    outline: none;
    background: none;
}

.Todo form div button {
    padding: 10px 16px;
    font-size: 1.2rem;
    border-radius: 5px;
    border: 1px solid gray;
    background: none;
    margin-left: 18px;
}